body {
	background-color: #114422;
		font-family: arial;

}
header {
	background-color: lightcoral;
}

footer {
	background-color: lightblue;
}

@media screen and (max-width: 900px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: red;
    }
}